.flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.alignBaseLine {
    align-items: baseline;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}