.wrapper {
    padding: 20px;
    position: relative;
    background: var(--light-bg-color);
    overflow: auto;
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    position: relative;
}

.btnCopy {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}