$spacing: 8px;

.wrapper {
    margin-top: $spacing * 4;
    transition-property: max-height, margin;
    transition-duration: 0.4s;
    transition-delay: 0.4;
    max-height: 500px;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 504px;
    padding: 6px 20px 6px 12px;
    border-radius: 12px;

    .title {
        color: rgba(18, 16, 37, 0.9);
        font-family: SB Sans Text;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.3px;
        text-align: left;
    }

    .text {
        color: rgba(18, 16, 37, 0.9);
        font-family: SB Sans Text;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.3px;
        text-align: left;
        word-break: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.variant--success {
    background-color: rgb(150, 244, 143);
}

.variant--warning {
    background-color: rgb(238, 210, 145);
}

.variant--info {
    background-color: rgb(200, 227, 248);
}

.variant--error {
    background-color: rgb(247, 186, 184);
}

.notification-enter {
    animation: appear 0.8s forwards;
}

.notification-exit {
    animation: disappear 0.8s forwards;

    max-height: 0 !important;
    margin: 0px;
}

.notifications-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    padding: 0px;
    max-height: calc(100% - 30px);
    overflow: hidden;
    padding-right: $spacing * 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes appear {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}